 Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

*   List popular Data Science languages.
*   List commonly used libraries for Data Science.
*   Introduce to Data Science Tools.
*   Explore examples of evaluating arithmetic expressions in Python.
*   Demonstrate simple arithmetic operations using code cells.

Some of the popular languages that Data Scientists use are:

1) Python
2) R
3) Java
4) Julia

Some of the commonly used libraries used by Data Scientists include:

1) Pandas
2) Matplotlib
3) Numpy

| Data Science Tools   |
|----------------------|
| Github               |
| MangoDB              |
| Hadoop File system   |

Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
x=(3*4)+5
print(x)

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60.
Hours=200/60
print(Hours)

3.3333333333333335

Author

Dhanashri More